<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>hello</h1>
  <!--Container Example-->
  <!-- <div class="container">
    <div class="row">
      <div class="col-8 gy-3">
        <div class="bg-primary text-white p-3">
          columns
        </div>
      </div>
      <div class="col-4 gx-3">
        <div class="bg-primary text-white p-3">
          columns
        </div>
      </div>
       <div class="col">
        <div class="bg-primary text-white p-3">
          columns
        </div>
      </div> 
    </div>
  </div> -->
  <!--Grid Example-->
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="bg-primary p-3 text-white text-center mb-3">
          columns
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="bg-primary p-3 text-white text-center mb-3">
          columns
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="bg-primary p-3 text-white text-center mb-3">
          columns
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="bg-primary p-3 text-white text-center mb-3">
          columns
        </div>
      </div>
    </div>
  </div> -->
  <!--Nesting Rows and columns Example-->
  <div class="containers">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-primary p-3 text-white mb-3">
          1st Row Column
        </div>
        <div class="row">
          <div class="col md-3">
            <div class="bg-primary p-3 text-white mb-3">Nest Row,Column</div>
          </div>
          <div class="col md-3">
            <div class="bg-primary p-3 text-white mb-3">Nest Row,Column</div>
          </div>
          <div class="col md-3">
            <div class="bg-primary p-3 text-white mb-3">Nest Row,Column</div>
          </div>
          <div class="col md-3">
            <div class="bg-primary p-3 text-white mb-3">Nest Row,Column</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>