<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!--Containers-->
  <div class="container">
    <h1>Default Container</h1>
  </div>
  <div class="container-fluid">
    <h1>Fluid Container</h1>
  </div>
  <div class="container-sm text-black border bg-light py-3 my-3">
    <h1>Breakpoint Containers</h1>
  </div>
  <!--Grid-->
</body>
<h1>hello</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="bg-primary text-white">Columns</div>
    </div>
    <div class="col">
      <div class="bg-primary text-white">Columns</div>
    </div>
  </div>
  <!--Grid gutter-->
  <div class="row">
    <div class="col-8">
      <div class="bg-primary text-white">Columns</div>
    </div>
    <div class="col-4">
      <div class="bg-primary text-white">Columns</div>
    </div>
  </div>
  <!--Grid no gutter-->
  <div class="row">
    <div class="col-8 g-0">
      <div class="bg-primary text-white">Columns</div>
    </div>
    <div class="col-4 g-0">
      <div class="bg-primary text-white">Columns</div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 g-3">
      <div class="bg-primary text-white">Columns</div>
    </div>
    <div class="col-4 g-3">
      <div class="bg-primary text-white">Columns</div>
    </div>
  </div>
</div>
<!--Grid options-->
<h1> Grid Options</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <div class="bg-primary p-3 text-white text-center mb-3">Columns</div>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="bg-primary p-3 text-white  text-center mb-3">Columns</div>
    </div>
    <div class="col-md-3 col-sm-4">
      <div class="bg-primary p-3 text-white  text-center mb-3">Columns</div>
    </div>
  </div>
</div>

</html>